@model Docente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Docente</h1>

<h4>@Model.Nombre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_Empleado" class="control-label"></label>
                <input asp-for="Id_Empleado" class="form-control" />
                <span asp-validation-for="Id_Empleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Maestria" class="control-label"></label>
                <input asp-for="Id_Maestria" class="form-control" />
                <span asp-validation-for="Id_Maestria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Universidad" class="control-label"></label>
                <input asp-for="Id_Universidad" class="form-control" />
                <span asp-validation-for="Id_Universidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Mostrar">Lista de docentes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
